.button {
  display: inline-block;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 8px;
  font-weight: $font-bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  border-radius: 25px;
  color: $basic-blue;
  background-color: $basic-yellow;
  border: none;
  text-transform: uppercase;
  text-decoration: none;

  &--add {
    font-weight: $font-medium;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    color: $basic-blue-light;
    background: $basic-light;
  }

  &--back {
    letter-spacing: 0.01em;
    background: transparent;
  }

  &--catalog {
    line-height: 17px;
    background: $basic-white;
  }

  &--expand {
    line-height: 30px;
    background: transparent;
  }

  &--address {
    border: 3px solid $basic-blue-dark;
    border-radius: 10px;

    @media (min-width: $tablet-width) {
      border-radius: 20px;
    }
  }
}
