.button {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 8px;
  font-weight: $font-bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  border-radius: 25px;
  color: $basic-blue;
  background-color: $basic-yellow;
  border: none;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  &--login {
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--more {
    position: relative;
    padding: 21px;
    text-align: left;
    border-radius: 10px;

    &::after {
      position: absolute;
      top: 50%;
      right: 22px;
      content: "";
      width: 11px;
      height: 14px;
      background: url("../img/button_triangle_icon.svg") no-repeat;
      transform: translateY(-50%);

      @media (min-width: $tablet-width) {
        right: 30px;
      }
    }

    @media (min-width: $tablet-width) {
      padding: 29px 30px 27px 33px;
      border-radius: 20px;
    }
  }

  &--add {
    position: relative;
    padding: 13px 15px 11px 11px;
    font-weight: $font-medium;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: left;
    color: $basic-blue-light;
    background-color: $basic-light;
    border-radius: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 15px;
      width: 14px;
      height: 14px;
      background: url("../img/plus.svg") no-repeat center;
      transform: translateY(-50%);
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.09em;
      background-color: $special-blue-light;
    }
  }

  &--next {
    line-height: 30px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      position: relative;
      width: auto;
      min-width: 284px;
      padding: 29px 51px 27px 34px;
      line-height: 24px;
      border-radius: 20px;
      text-transform: initial;
      text-align: left;

      &::after {
        position: absolute;
        top: 50%;
        right: 22px;
        content: "";
        width: 11px;
        height: 14px;
        background: url(../img/button_triangle_icon.svg) no-repeat;
        transform: translateY(-50%);
      }
    }
  }

  &--back {
    line-height: 30px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    background: transparent;

    @media (min-width: $tablet-width) {
      position: relative;
      width: auto;
      line-height: 22px;
      text-align: right;
      text-transform: initial;

      &::after {
        position: absolute;
        top: 50%;
        left: -22px;
        content: "";
        width: 11px;
        height: 14px;
        background: url(../img/button_triangle_icon.svg) no-repeat;
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  &--send {
    line-height: 30px;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      position: relative;
      width: auto;
      min-width: 284px;
      padding: 29px 51px 27px 34px;
      line-height: 24px;
      border-radius: 20px;
      text-transform: initial;
      text-align: left;

      &::after {
        position: absolute;
        top: 50%;
        right: 22px;
        content: "";
        width: 11px;
        height: 14px;
        background: url(../img/button_triangle_icon.svg) no-repeat;
        transform: translateY(-50%);
      }
    }
  }

  &--catalog {
    display: block;
    width: 230px;
    margin: 0 auto;
    line-height: 17px;
    text-transform: uppercase;
    background: $basic-white;

    @media (min-width: $tablet-width) {
      width: 100%;
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--expand {
    padding-left: 28px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    background: transparent;
  }

  &--address {
    text-transform: initial;
    border: 3px solid $basic-blue-dark;
    border-radius: 10px;

    @media (min-width: $tablet-width) {
      border-radius: 20px;
    }
  }

  &--toggle {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--close {
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background: #d6daed;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--invite {
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &--select {
    border-radius: 0;
    background: $basic-white url("../img/arrow-select.svg") no-repeat center;
  }

  &--remove {
    background: $basic-light url("../img/icon_close.svg") no-repeat center;
    background-size: 9px 9px;

    @media (min-width: $tablet-width) {
      background-color: transparent;
      background-size: 17px 17px;
    }
  }

  &--modal-close {
    background: transparent url("../../img/icon-modal-close.svg") no-repeat center;
  }
}

.button__show-more {
  display: none;
}
