.calendar__header {
  position: relative;
  margin-bottom: 20px;
  padding: 11px 0;
  border-top: 1px solid $basic-grey-border;
  border-bottom: 1px solid $basic-grey-border;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
    padding-top: 27px;
    padding-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 18px;
  }
}

.calendar__button {
  content: "";
  position: absolute;
  top: 0;
  width: 40px;
  height: 100%;
  border: none;
  background: transparent url("../img/arrow.svg") no-repeat 0 center;
  opacity: 0.3;
  cursor: pointer;

  &--next {
    right: 0;
    transform: rotate(180deg);
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }
}

.calendar__month {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 20px;
  color: $basic-blue-light;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.calendar__table {
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
}

.calendar tbody {
  display: flex;
  flex-direction: column;
}

.calendar__row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid $basic-grey-border;
  border-left: 1px solid $basic-grey-border;


  &--days {
    padding-bottom: 6px;
    border-left: none;

    @media (min-width: $desktop-width) {
      padding-bottom: 18px;
    }
  }
}

.calendar__day {
  position: relative;
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;

  &--weekend {
    color: $special-orange-dark;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 18px;
  }
}

.calendar__cell {
  display: inline-flex;
  height: 30px;
  padding: 0;
  text-align: center;
  border-right: 1px solid $basic-grey-border;

  @media (min-width: $tablet-width) {
    height: 70px;
  }
}

.calendar__label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.calendar__date {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: $font-medium;
  font-size: 14px;
  line-height: 18px;
  color: $basic-blue-light;
  background-color: $basic-light;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 14px 15px;
  }

  &--checkin,
  &--checkout {
    flex-direction: column;
    row-gap: 9px;
  }
}

.calendar__input[disabled] + .calendar__date {
  color: rgba(68, 68, 68, 0.3);
  background-color: $basic-white;
  font-weight: $font-light;
}

.calendar__input:checked + .calendar__date {
  color: $basic-white;
  background-color: $basic-blue-light;
}

.calendar__input:not([disabled]):hover + .calendar__date,
.calendar__input:not([disabled]):focus + .calendar__date {
  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    z-index: 100;
    top: -1px;
    left: -1px;
    width: 32px;
    height: 32px;
    border: 2px solid $special-orange-dark;

    @media (min-width: $tablet-width) {
      width: 78px;
      height: 72px;
      border-width: 4px;
    }

    @media (min-width: $desktop-width) {
      width: 148px;
      height: 76px;
      margin-top: -2px;
      margin-left: -2px;
    }
  }
}

.calendar__checkin,
.calendar__checkout {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.calendar__month-name {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
