.calendar__month {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  font-size: 20px;
  line-height: 20px;
  color: $basic-blue-light;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.calendar__day {
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 18px;

  &--weekend {
    color: $special-orange-dark;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.calendar__date {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
