.contact__list {
  @include reset-list;
  text-align: left;
}

.contact__link {
  font-weight: $font-bold;
  font-size: $font-size;
  line-height: 18px;
  color: $basic-blue-dark;
  text-transform: uppercase;
  text-decoration: none;

  &--main {
    color: $basic-yellow;
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
  }
}
