.country {
  border-radius: 10px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: stretch;
    border-radius: 20px;
  }
}

.country__inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 26px 24px 24px 24px;
  background: $basic-white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 25px;
    width: 35px;
    height: 24px;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: 35px;

    @media (min-width: $tablet-width) {
      top: 40px;
      left: auto;
      right: -35px;
      width: 70px;
      height: 47px;
      background-size: 70px;
      transform: translateY(-50%);
    }

    @media (min-width: $desktop-width) {
      top: 47px;
    }
  }

  &--thailand {
    &::before {
      background-image: url("../img/flag-thailand-mobile@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/flag-thailand-mobile@2x.png");
      }

      @media (min-width: $tablet-width) {
        background-image: url("../img/flag-thailand-tablet@1x.png");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/flag-thailand-tablet@2x.png");
        }
      }
    }
  }

  &--france {
    &::before {
      background-image: url("../img/flag-france-mobile@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/flag-france-mobile@2x.png");
      }

      @media (min-width: $tablet-width) {
        background-image: url("../img/flag-france-tablet@1x.png");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/flag-france-tablet@2x.png");
        }
      }
    }
  }

  &--czech {
    &::before {
      background-image: url("../img/flag-czech-mobile@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/flag-czech-mobile@2x.png");
      }

      @media (min-width: $tablet-width) {
        background-image: url("../img/flag-czech-tablet@1x.png");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/flag-czech-tablet@2x.png");
        }
      }
    }
  }

  @media (min-width: $tablet-width) {
    order: -1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 25px 25px;
    border-radius: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 24px;
    padding-bottom: 22px;
  }
}

.country__img {
  display: block;
  margin-bottom: -12px;

  @media (min-width: $tablet-width) {
    width: 186px;
    height: 140px;
  }
}

.country__name {
  order: 1;
  margin: 0;
  margin-right: auto;
  margin-bottom: 2px;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 4px;
  }
}

.country__slogan {
  order: 3;
  margin: 0;
  font-weight: $font-medium;
  line-height: 18px;
  color: $special-grey;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
    margin-left: 6px;
  }
}

.country__visitors {
  display: inline-flex;
  align-items: center;
  position: relative;
  order: 2;
  padding-left: 20px;
  font-weight: $font-medium;
  line-height: 20px;
  color: $basic-blue;
  opacity: 0.3;

  &::before {
    position: absolute;
    left: 0;
    content: "";
    width: 14px;
    height: 14px;
    background: url("../img/icon_user.svg") no-repeat;
    background-size: 100%;

    @media (min-width: $tablet-width) {
      width: 24px;
      height: 24px;
    }

    @media (min-width: $desktop-width) {
      left: 4px;
    }
  }

  @media (min-width: $tablet-width) {
    order: 3;
    padding-left: 32px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 36px;
  }
}
