.description {
  padding: 33px 35px 0 25px;

  @media (min-width: $tablet-width) {
    padding: 41px 0 0 34px;
  }
}

.description__subtitle {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.description__text {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }

  &--last {
    margin-bottom: 0;
    font-weight: $font-bold;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      line-height: 25px;
      margin-bottom: 52px;
    }

    @media (min-width: $desktop-width) {
      width: 450px;
      margin-bottom: 85px;
    }
  }
}

.description__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 274px;
  }
}
