.filter {
  padding-top: 52px;
  padding-bottom: 28px;
  background: $special-grey-snuff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  &--closed {
    .filter__continents-list,
    .filter__anchors,
    .filter__alphabet,
    .filter__button {
      display: none;
    }

    .filter__inner,
    .filter__title {
      margin-bottom: 0;
    }

    padding-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 79px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 100px;
    background: $basic-light;
  }
}

.filter__container {
  position: relative;
}

.filter__wrapper {
  width: 220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 615px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.filter__inner {
  position: relative;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 30px;
    margin-bottom: 74px;
  }
}

.filter__title {
  margin: 0;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-blue-dark;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.filter__button {
  @media (min-width: $tablet-width) {
    display: block;
    width: 615px;
    margin-top: 78px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.filter__continents-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 9px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    column-gap: 28px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 32px;
  }
}

.filter__continent {
  font-weight: $font-bold;
  font-size: 16px;
  line-height: 18px;
  color: $basic-blue-dark;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.3;

  &--current {
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.filter__list,
.filter__alphabet,
.filter__sublist {
  @include reset-list;
}

.filter__anchors {
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.filter__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-top: 1px solid $basic-grey-border;
  border-left: 1px solid $basic-grey-border;

  @media (min-width: $tablet-width) {
    width: 346px;
    row-gap: 20px;
    border: none;
  }
}

.filter__item {
  position: relative;
  width: 100%;
  height: 41px;

  @media (min-width: $tablet-width) {
    height: auto;
  }
}

.filter__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: $font-medium;
  font-size: 14px;
  line-height: 14px;
  color: $basic-blue-light;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $basic-white;
  border-bottom: 1px solid $basic-grey-border;
  border-right: 1px solid $basic-grey-border;

  @media (min-width: $tablet-width) {
    font-weight: $font-bold;
    font-size: 60px;
    line-height: 60px;
    background-color: transparent;
    border: none;
    opacity: 0.3;
  }

  &--current {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 46px;
    height: 43px;
    color: $basic-white;
    background-color: $basic-blue-light;

    @media (min-width: $tablet-width) {
      position: static;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      color: $basic-blue-light;
      background-color: transparent;
      opacity: 1;
    }
  }
}

.filter__alphabet {
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 50px;
    width: 100%;
  }
}

.filter__letter {
  display: none;

  &--current {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.filter__subtitle {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
    margin-bottom: 30px;
    font-weight: $font-bold;
    font-size: 60px;
    line-height: 60px;
    color: $basic-blue-dark;
  }
}

.filter__country {
  color: $special-grey;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
