.form-user__wrapper {
  margin-bottom: 7px;
  padding: 0 25px;
}

.form-user__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 22px;
  letter-spacing: 0.02em;
  color: $basic-blue-light;
}

.form-user__group {
  padding: 12px 0 14px;
  border-top: 1px solid #f3c72b;
}
