.inner__header {
  padding-top: 42px;
  color: $basic-white;
  background: $basic-blue;

  @media (min-width: $tablet-width) {
    padding-top: 134px;
  }
}

.inner__title {
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    padding-bottom: 62px;
  }
}

.inner__link-home {
  font-weight: $font-bold;
  font-size: 20px;
  line-height: 20px;
  color: $basic-white;
  text-transform: uppercase;
  text-decoration: none;
}
