.intro {
  background-color: $basic-blue-dark;

  @media (min-width: $tablet-width) {
    background-color: $basic-blue-dark-alternative;
  }
}

.intro__wrapper {
  @media (min-width: $desktop-width) {
    background-image: url("../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: left 0 bottom 0;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/globe-back-desktop@2x.jpg");
    }
  }
}

.intro__inner {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 115px;
    width: 1320px;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 123px;
    background-image: url("../img/traveller-illustration-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: right 345px bottom 0;
    background-size: 431px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-desktop@2x.png");
    }
  }
}

.intro__top {
  margin-bottom: -20px;
  padding-top: 42px;
  background-image:
    url("../img/traveller-illustration-mobile@1x.png"),
    url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position:
    center bottom 20px,
    center bottom -70px;
  background-size: 192px, cover;

  @media (min-resolution: $retina-dppx) {
    background-image:
      url("../img/traveller-illustration-mobile@2x.png"),
      url("../img/globe-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 101px;
    margin-bottom: 0;
    padding: 0;
  }
}

.intro__title {
  margin-bottom: 245px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 67px;
    text-align: left;
  }
}

.intro__user-info {
  display: flex;
}

.intro__contact {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.intro__button {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.intro__middle {
  background-color: $basic-blue;

  @media (min-width: $tablet-width) {
    background-color: $basic-blue-dark-alternative;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center top 25px;
    background-size: cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/globe-back-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 23px;
    margin-left: auto;
    background: none;
  }
}

.intro__container {
  @media (min-width: $tablet-width) {
    background-image: url("../img/traveller-illustration-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: right 71px bottom 140px;
    background-size: 372px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin: 0;
    background-image: none;
  }
}

.intro__reviews {
  padding-top: 48px;
  padding-bottom: 109px;

  @media (min-width: $tablet-width) {
    padding-top: 76px;
    padding-bottom: 351px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding: 0;
  }
}

.intro__guideline {
  margin-top: -82px;

  @media (min-width: $tablet-width) {
    margin-top: -140px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
    width: 100%;
    margin-top: 0;
  }
}

.intro__bottom {
  position: relative;
  padding-top: 39px;
  background-color: $basic-blue-dark;

  &::before {
    content: "";
    position: absolute;
    top: 39px;
    left: 0;
    width: 50%;
    height: 132px;
    background-color: #141b3b;

    @media (min-width: $tablet-width) {
      left: 50%;
      width: 688px;
      height: 212px;
      border-radius: 20px;
      transform: translateX(-50%);
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}
