.intro {
  background-color: $basic-blue;
}

.intro__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }
}

.intro__title {
  margin-bottom: 245px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 86px;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    margin-bottom: 101px;
  }
}

.intro__contact {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.intro__button {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.intro__reviews {
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    width: 270px;
    margin-bottom: 211px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-left: auto;
  }
}

.intro__guideline {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 96px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    grid-column: 1 / -1;
  }
}
