.intro {
  background-color: $basic-blue;
}

.intro__top {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 96px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 101px;
    margin-bottom: 0;
    padding-bottom: 123px;
  }
}

.intro__title {
  margin-bottom: 245px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 86px;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 67px;
    text-align: left;
  }
}

.intro__contact {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.intro__button {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.intro__reviews {
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    width: 270px;
    margin-bottom: 211px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 25px;
    margin-bottom: 0;
  }
}

.intro__guideline {
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
