.logo {
  width: 96px;
  height: 15px;

  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 50px;
  }
}

.logo__mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo__tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo__desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
