.nav__list {
  @include reset-list;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.nav__link {
  font-weight: $font-medium;
  font-size: 30px;
  line-height: 35px;
  color: $basic-blue-dark;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 71px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 34px;
    color: $basic-white;
    font-size: 20px;
    line-height: 20px;
  }
}
