.page__content {
  position: relative;
  z-index: 90;
}

.page__intro {
  @include block(700);
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.page__routes {
  @include block(600);
}

.page__travelmates {
  @include block(500);
  position: relative;
}

.page__rates {
  @include block(400);
}

.page__registration {
  @include block(300);
}

.page__address {
  @include block(200);
}
