.pagination {
  display: flex;
  column-gap: 1px;

  @media (min-width: $tablet-width) {
    align-items: center;
  }
}

.pagination__wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    order: -1;
    margin-right: auto;
  }
}

.pagination__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 51px;
  background: $basic-white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  &::before {
    content: "";
    width: 10px;
    height: 11px;
    background: url("../../img/button_triangle_icon.svg") no-repeat center;
  }

  &--back {
    transform: rotate(180deg);
  }
}

.pagination__link {
  font-weight: $font-bold;
  font-size: 20px;
  line-height: 20px;
  color: $basic-blue-light;
  text-decoration: none;

  &--current {
    background: $basic-yellow;
  }
}
