.pagination {
  background: $basic-white;
}

.pagination__link {
  font-weight: $font-bold;
  font-size: 20px;
  line-height: 20px;
  color: $basic-blue-light;
  text-decoration: none;

  &--current {
    background: $basic-yellow;
  }
}
