.pagination {
  display: flex;
  background: $basic-white;
}

.pagination__wrapper {
  display: none;
}

.pagination__button {
  width: 135px;
  height: 51px;
  // временно //
  border: 1px dotted;
  background: $basic-white;
}

.pagination__link {
  font-weight: $font-bold;
  font-size: 20px;
  line-height: 20px;
  color: $basic-blue-light;
  text-decoration: none;

  &--current {
    background: $basic-yellow;
  }
}
