.registration {
  padding: 102px 0 29px;
  text-align: center;
  color: $basic-white;
  background: $basic-blue-dark;

  @media (min-width: $tablet-width) {
    padding-top: 133px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 208px;
    padding-bottom: 103px;
  }
}

.registration__container {
  @media (min-width: $tablet-width) {
    padding: 0 35px;
  }
}

.registration__subtitle {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.registration__text {
  margin: 0;
  padding: 0 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    line-height: 31px;
  }

  &--last {
    margin-bottom: 17px;

    @media (min-width: $tablet-width) {
      margin-bottom: 40px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 43px;
    }
  }
}

.registration__form {
  margin: 29px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    padding: 0 73px;
  }
}

.registration__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    column-gap: 110px;
    justify-content: center;
  }
}

.registration__link {
  color: $basic-yellow;
  text-decoration: none;
  border-bottom: 1px solid $basic-yellow;

  &:hover,
  &:focus {
    color: $special-orange;
    border-bottom-color: inherit;
  }

  &:active {
    opacity: 0.3;
  }
}
