.reviews__list,
.reviews__feedback {
  @include reset-list;
  color: $basic-white;
}

.reviews__feedback {
  @media (min-width: $tablet-width) {
    line-height: 27px;
  }
}

.reviews__list {
  @media (min-width: $tablet-width) {
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    width: 265px;
  }
}

.reviews__text {
  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    line-height: 32px;
  }
}

.reviews__author {
  font-weight: $font-bold;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }
}
