.social__list {
  @include reset-list;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }
}

.social__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: $basic-yellow;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $basic-yellow-dark;
  }

  &:active .social__icon {
    opacity: 0.3;
  }

  &--menu {
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: transparent;
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    width: 62px;
    height: 62px;
  }
}

.social__icon {
  @media (min-width: $tablet-width) {
    &--facebook {
      width: 14px;
      height: 28px;
    }

    &--vkontakte {
      width: 28px;
      height: 18px;
    }

    &--instagram {
      width: 22px;
      height: 22px;
    }
  }
}
