.step {
  margin-bottom: 10px;
  padding: 24px 25px 23px 25px;
  background: $basic-white;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
    padding: 48px 40px 56px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 160px 104px;
  }
}

.step__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.step__text {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.step__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    margin-bottom: 60px;
    padding-top: 26px;
    border-top: 1px solid $special-grey-border;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 0;
    margin-bottom: 33px;
    padding-top: 30px;
  }
}

.step__inner {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  margin-bottom: 20px;

  &:first-child {
    @media (min-width: $tablet-width) {
      margin-bottom: 25px;
      order: -1;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 220px 180px min-content;
    align-items: center;
  }
}

.step__label {
  font-weight: $font-medium;
  line-height: 16px;
  color: $basic-blue-light;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.1em;
  }

  &--option {
    font-weight: $font-normal;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: normal;
    text-transform: initial;

    @media (min-width: $tablet-width) {
      font-weight: $font-medium;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
}

.step__index {
  margin-left: auto;
  font-weight: $font-medium;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.08em;
  }

  @media (min-width: $desktop-width) {
    order: 3;
    margin: 0;
  }
}

.step__input-wrapper {
  position: relative;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}

.step__input {
  box-sizing: border-box;
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}

.step__button {
  position: absolute;
  top: 0;

  &--min {
    left: 0;
  }

  &--max {
    right: 0;
  }
}

.step__option {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-bottom: 27px;
  }
}

.step__country {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.step__country-field {
  box-sizing: border-box;
  width: 100%;
  font-weight: $font-medium;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: $basic-blue-light;
  text-transform: uppercase;

  &::placeholder {
    font: inherit;
    color: inherit;
  }

  @media (min-width: $tablet-width) {
    width: 369px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}

.step__button-add {
  margin-bottom: 25px;
}

.step__wrapper {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
    padding-top: 27px;
    border-top: 1px solid $special-grey-border;
  }

  @media (min-width: $desktop-width) {
    padding-top: 80px;
  }

  &--last {
    margin-bottom: 22px;
    border: none;

    @media (min-width: $tablet-width) {
      margin-bottom: 49px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 58px;
      padding-top: 0;
    }
  }
}

.step__subtitle {
  display: block;
  margin-bottom: 18px;
  font-weight: $font-medium;
  font-size: 18px;
  line-height: 18px;
  color: $basic-blue-light;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    font-size: 30px;
    line-height: 30px;
  }
}

.step__textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 14px;

  @media (min-width: $tablet-width) {
    width: 500px;
    padding: 19px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    padding: 25px 20px 25px 25px;
  }
}

.step__calendar {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.step__countries-wrapper {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    padding-top: 42px;
    border-top: 1px solid $special-grey-border;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
    padding-top: 62px;
  }
}

.step__bottom {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}
