.step {
  margin-bottom: 10px;
  padding: 24px 25px 23px 25px;
  background: $basic-white;
  border-radius: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
    padding: 48px 40px 56px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 100px 160px 104px;
    border-radius: 60px;
  }
}

.step__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.step__text {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 555px;
    margin-bottom: 55px;
  }
}

.step__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    margin-bottom: 60px;
    padding-top: 26px;
    border-top: 1px solid $special-grey-border;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr auto;
    margin-top: 0;
    margin-bottom: 33px;
    padding-top: 30px;
  }
}

.step__inner {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  margin-bottom: 20px;

  &:first-child {
    @media (min-width: $tablet-width) {
      margin-bottom: 25px;
      order: -1;
    }
  }

  @media (min-width: $tablet-width) {
    row-gap: 24px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 220px 180px min-content;
    align-items: center;
  }
}

.step__label {
  font-weight: $font-medium;
  line-height: 16px;
  color: $basic-blue-light;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.1em;
  }

  &--option {
    font-weight: $font-normal;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: normal;
    text-transform: initial;

    @media (min-width: $tablet-width) {
      font-weight: $font-medium;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
}

.step__index {
  margin-left: auto;
  font-weight: $font-medium;
  line-height: 16px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.08em;
  }

  @media (min-width: $desktop-width) {
    order: 3;
    margin: 0;
    margin-left: 35px;
  }
}

.step__input-wrapper {
  position: relative;
  width: 100%;
  border-radius: 10px;

  @media (min-width: $desktop-width) {
    width: 180px;
  }
}

.step__input {
  box-sizing: border-box;
  width: 100%;
  height: 43px;
  padding: 16px 42px;
  font-size: 15px;
  line-height: 14px;
  text-align: center;
  color: $basic-blue-light;
  border: 1px solid $basic-grey-border;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    height: 70px;
    padding: 26px 42px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
  }

  &::placeholder {
    color: $basic-blue-light;
  }
}

.step__button {
  position: absolute;
  top: 0;
  width: 42px;
  height: 100%;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-size: 20px;
  }

  &--min {
    left: 0;
    background-image: url("../img/minus.svg");
  }

  &--max {
    right: 0;
    background-image: url("../img/plus.svg");
  }
}

.step__option {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    order: -1;
    margin-bottom: 27px;
  }
}

.step__country {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.step__country-wrapper {
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  &--select {
    width: 100%;
  }
}

.step__country-name {
  position: relative;
  flex-shrink: 0;
  width: 53px;
  height: 42px;
  margin-left: -1px;
  border: 1px solid $basic-grey-border;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px 24px;

  &--bosnia-and-herzegovina {
    background-image: url("../img/flag-bosnia-and-herzegovina-mobile@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/flag-bosnia-and-herzegovina-mobile@2x.png");
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/flag-bosnia-and-herzegovina-tablet@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/flag-bosnia-and-herzegovina-tablet@2x.png");
      }
    }
  }

  &--czech {
    background-image: url("../img/flag-czech-mobile@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/flag-czech-mobile@2x.png");
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/flag-czech-tablet@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/flag-czech-tablet@2x.png");
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -4px;
    width: 8px;
    height: 8px;
    background-color: $basic-blue-light;
    border-radius: 50%;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      left: -33px;
      width: 14px;
      height: 14px;
    }

    @media (min-width: $desktop-width) {
      left: -51px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 47px;
    margin-right: 44px;
    border: none;
    background-size: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 112px;
  }
}

.step__input-inner {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 369px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 100;
    top: 50%;
    right: 38px;
    width: 8px;
    height: 8px;
    border: 1px solid $basic-grey-border;
    background-color: $basic-white;
    border-radius: 50%;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      right: -38px;
      width: 14px;
      height: 14px;
    }

    @media (min-width: $desktop-width) {
      right: -51px;
    }
  }
}

.step__country-field {
  box-sizing: border-box;
  width: inherit;
  padding: 11px 7px 11px 11px;
  font-weight: $font-medium;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.09em;
  color: $basic-blue-light;
  border: 1px solid $basic-grey-border;
  border-radius: 4px;
  text-transform: uppercase;

  &::placeholder {
    font: inherit;
    color: inherit;
  }

  &--select {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    width: 369px;
    padding: 25px 27px 21px 25px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}

.step__button-select {
  position: absolute;
  top: 50%;
  right: 2px;
  width: 35px;
  height: 90%;
  transform: translateY(-50%);
  box-shadow: -10px 0 5px -5px rgba(255, 255, 255, 0.8);
}

.step__button-remove {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 21px;
  height: 21px;

  @media (min-width: $tablet-width) {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.step__button-wrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 48px;
    width: 8px;
    height: 8px;
    border: 1px solid #cbced9;
    background-color: transparent;
    border-radius: 50%;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      right: 131px;
      width: 14px;
      height: 14px;
      background-color: $special-blue-light;
    }

    @media (min-width: $desktop-width) {
      right: 219px;
    }
  }
}

.step__button-add {
  @media (min-width: $tablet-width) {
    width: 369px;
    padding: 25px 27px 24px 22px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}

.step__wrapper {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    width: 500px;
    margin-bottom: 53px;
    padding-top: 27px;
    border-top: 1px solid $special-grey-border;
  }

  @media (min-width: $desktop-width) {
    padding-top: 80px;
  }

  &--first {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 11px;
      left: -14px;
      width: 10px;
      height: 110%;
      border: 2px solid $basic-blue-light;
      border-right: none;

      @media (min-width: $tablet-width) {
        left: auto;
        right: -24px;
        top: 47px;
        width: 2px;
        height: 113%;
      }

      @media (min-width: $desktop-width) {
        top: 90px;
        right: 222px;
        height: 93%;
      }
    }
  }

  &--last {
    margin-bottom: 22px;
    border: none;

    @media (min-width: $tablet-width) {
      margin-bottom: 49px;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 58px;
      padding-top: 0;
    }
  }
}

.step__subtitle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  padding-left: 11px;
  font-weight: $font-medium;
  font-size: 18px;
  line-height: 18px;
  color: $basic-blue-light;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -4px;
    width: 6px;
    height: 6px;
    background-color: $basic-blue-light;
    border-radius: 50%;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      left: auto;
      right: -30px;
      width: 14px;
      height: 14px;
    }

    @media (min-width: $desktop-width) {
      right: -54px;
    }
  }

  &::after {
    content: "";
    flex-shrink: 0;
    width: 35px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35px;
    box-shadow: -20px 0 5px $basic-white;

    @media (min-width: $tablet-width) {
      width: 70px;
      height: 47px;
      background-size: 70px;
      box-shadow: none;
    }
  }

  &--bosnia-and-herzegovina {
    &::after {
      background-image: url("../img/flag-bosnia-and-herzegovina-mobile@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/flag-bosnia-and-herzegovina-mobile@2x.png");
      }

      @media (min-width: $tablet-width) {
        background-image: url("../img/flag-bosnia-and-herzegovina-tablet@1x.png");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/flag-bosnia-and-herzegovina-tablet@2x.png");
        }
      }
    }
  }

  &--czech {
    &::after {
      background-image: url("../img/flag-czech-mobile@1x.png");

      @media (min-resolution: $retina-dppx) {
        background-image: url("../img/flag-czech-mobile@2x.png");
      }

      @media (min-width: $tablet-width) {
        background-image: url("../img/flag-czech-tablet@1x.png");

        @media (min-resolution: $retina-dppx) {
          background-image: url("../img/flag-czech-tablet@2x.png");
        }
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}

.step__textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 14px;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid $basic-grey-border;
  border-radius: 4px;
  resize: none;

  @media (min-width: $tablet-width) {
    width: 500px;
    height: 142px;
    padding: 19px;
    font-size: 20px;
    line-height: 23px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    padding: 25px 20px 25px 25px;
  }
}

.step__calendar {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.step__countries-wrapper {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 50px;
    padding-top: 42px;
    border-top: 1px solid $special-grey-border;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 138px;
      width: 1px;
      height: 100%;
      background-color: $basic-grey-border;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
    padding-top: 62px;

    &::before {
      right: 225px;
      height: 115%;
    }
  }
}

.step__bottom {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
