.subtitle {
  margin: 0;
  padding: 0;
  font-weight: $font-bold;
  font-size: 24px;
  line-height: 24px;
  color: $special-orange;

  &--form {
    color: $basic-blue-light;
  }

  &--step {
    font-size: 20px;
    line-height: 20px;
    color: $basic-blue-light;
  }

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
  }
}
