.transport__title {
  position: relative;
  align-self: center;
  margin: 0;
  margin-bottom: -10px;
  padding: 0 18px;
  font-size: 16px;
  font-weight: $font-bold;
  line-height: 18px;
  color: $basic-blue-light;
  background-color: $basic-light;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-top: -10px;
    font-weight: $font-medium;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
    letter-spacing: 0.09em;
  }
}

.transport__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  border: 1px solid $basic-grey-border;
  border-radius: 10px;
}
