.traveller {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 22px;
  padding: 15px 0 23px;
  background: $basic-white;
  border-radius: 20px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, min-content) auto min-content;
    column-gap: 0;
    padding-top: 35px;
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, min-content) auto 235px;
    padding: 0;
    padding-right: 43px;
  }
}

.traveller__avatar {
  grid-row: 1 / 3;
  margin-left: 18px;
  width: 70px;
  height: 70px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    grid-row: 1 / 4;
    width: 190px;
    height: 190px;
    margin-left: 35px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 4;
    width: 285px;
    height: 258px;
    margin-left: 0;
    border-radius: 0;
  }
}

.traveller__link {
  position: relative;
  text-decoration: none;
  color: $basic-blue-light;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #f97676;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      right: -25px;
      width: 8px;
      height: 8px;
    }

    @media (min-width: $desktop-width) {
      right: 0;
      left: -26px;
    }
  }

  &--online {
    &::before {
      background-color: #81e31e;
    }
  }

  @media (min-width: $tablet-width) {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    align-self: flex-start;
    width: fit-content;
    margin-left: 33px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    margin-top: 46px;
    margin-left: 62px;
  }
}

.traveller__name {
  width: min-content;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: max-content;
    font-size: 30px;
    line-height: 30px;
  }
}

.traveller__tags-wrapper {
  grid-column: 1 / -1;
  width: 176px;
  margin: 13px 0 26px 20px;
  font-size: 15px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    width: 226px;
    margin: 0;
    margin-left: 33px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
    margin-left: 62px;
  }
}

.traveller__tag {
  font-weight: $font-normal;
  font-size: 15px;
  line-height: 18px;
  color: $special-grey;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
  }
}

.traveller__countries-wrapper {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 18px;
  margin-bottom: 23px;
  padding: 0 12px 0 15px;
  border-top: 1px solid $basic-light;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    margin-top: 30px;
    padding-left: 75px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 3;
    grid-column: -1 / -2;
    margin: 0;
    margin-top: 49px;
    padding: 0;
    border: none;
  }
}

.traveller__subtitle {
  margin: 0;
  margin-top: -8px;
  padding: 0 10px;
  font-weight: $font-normal;
  font-size: 15px;
  line-height: 16px;
  color: $special-grey;
  background-color: $basic-white;
  text-transform: lowercase;

  &--transport {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--level {
    margin-left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.traveller__country-list {
  @include reset-list;
  margin-left: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    column-gap: 25px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    row-gap: 10px;
  }
}

.traveller__country {
  font-weight: $font-medium;
  font-size: 15px;
  line-height: 16px;
  color: $basic-blue-light;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.traveller__inner {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  padding: 0 12px 0 15px;
  border-top: 1px solid $basic-light;

  @media (min-width: $tablet-width) {
    grid-column: -1 / -2;
    grid-row: 3 / 4;
    align-items: center;
    margin-right: 25px;
    padding: 0;
    border: none;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin: 0;
    margin-top: auto;
    margin-bottom: 42px;
  }
}

.traveller__transport-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.traveller__transport-list {
  @include reset-list;
}

.traveller__level-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.traveller__level-value {
  font-weight: $font-bold;
  font-size: 24px;
  line-height: 24px;
  color: $basic-blue-light;
}

.traveller__level-text {
  display: none;
  color: $basic-black;
  opacity: 0.4;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 14px;
    line-height: 14px;
  }
}

.traveller__likes-wrapper {
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-left: -35px;

  @media (min-width: $tablet-width) {
    grid-column: 3 / 5;
    grid-row: 3;
    margin-top: auto;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    margin-bottom: 46px;
  }
}

.traveller__likes-button {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
  }
}

.traveller__likes-amount {
  font-weight: $font-bold;
  font-size: 14px;
  line-height: 16px;
  color: $basic-blue;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.traveller__button {
  grid-column: 1 / -1;
  width: 230px;
  margin: 13px auto 0 auto;

  @media (min-width: $tablet-width) {
    grid-column: 2;
    grid-row: 3;
    width: 150px;
    margin: 0;
    margin-top: auto;
    margin-left: 29px;
    padding: 15px 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
    margin-left: 54px;
  }
}
