.travelmates {
  padding-top: 65px;
  padding-bottom: 32px;
  color: $basic-white;
  background-color: $basic-blue-dark;
  background-image: url("../img/rogovaya-back-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: 0 410px;
  background-size: 64px 71px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/rogovaya-back-desktop@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding-top: 126px;
    padding-bottom: 87px;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 134px;
    padding-bottom: 74px;
  }
}

.travelmates__container {
  padding-top: 34px;
  background-image: url("../img/smolov-back-desktop@1x.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 143px;

  &::before {
    content: "";
    position: absolute;
    z-index: -100;
    top: 65px;
    left: 0;
    width: 113px;
    height: 132px;
    background-color: #141b3b;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    @media (min-width: $tablet-width) {
      top: 5px;
      width: 212px;
      height: 212px;
      border-radius: 20px;
    }
  }

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/smolov-back-desktop@2x.png");
  }

  @media (min-width: $tablet-width) {
    position: relative;
    padding-top: 75px;
    background-image:
      url("../img/rogovaya-back-tablet@1x.png"),
      url("../img/smolov-back-desktop@1x.png");
    background-position:
      right 34px top 14px,
      left 0 top 360px;
    background-size: 285px, 143px;

    @media (min-resolution: $retina-dppx) {
      background-image:
        url("../img/rogovaya-back-tablet@2x.png"),
        url("../img/smolov-back-desktop@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    padding-top: 56px;
    padding-bottom: 60px;
    padding-left: 70px;
    background-position:
      left 130px bottom 6px,
      top 60px left 489px;
  }
}

.travelmates__header {
  padding-right: 30px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    padding-right: 200px;
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-right: 170px;
  }
}

.travelmates__subtitle {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.travelmates__text {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }

  &--last {
    margin-bottom: 55px;
    font-weight: $font-bold;
    font-size: 16px;
    line-height: 22px;

    @media (min-width: $tablet-width) {
      margin-bottom: 63px;
      font-size: 21px;
      line-height: 24px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }
}

.travelmates__inner {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 285px);
    gap: 50px;
    margin-bottom: 81px;
    padding: 0 34px;
  }

  @media (min-width: $desktop-width) {
    grid-row-start: span 2;
    gap: 60px;
    margin: 0;
    padding: 0;
    padding-top: 4px;
  }
}

.travelmates__user {
  &:not(:last-of-type) {
    margin-bottom: 9px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &:last-of-type {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    height: 100%;
  }
}

.travelmates__button {
  @media (min-width: $tablet-width) {
    display: block;
    width: 620px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    width: 280px;
    height: min-content;
    margin-top: auto;
    margin-left: 0;
  }
}
