.travelmates {
  padding-top: 102px;
  padding-bottom: 31px;
  color: $basic-white;
  background: $basic-blue-dark url("../img/smolov-back-desktop.png") no-repeat;

  @media (min-width: $tablet-width) {
    padding-top: 208px;
    padding-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 231px;
    padding-bottom: 134px;
  }
}

.travelmates__container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    padding-left: 70px;
  }
}

.travelmates__header {
  padding-right: 30px;
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    width: 430px;
    padding-right: 34px;
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.travelmates__subtitle {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.travelmates__text {
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }

  &--last {
    margin-bottom: 54px;
    font-weight: $font-bold;
    font-size: 21px;
    line-height: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 59px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }
}

.travelmates__inner {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 285px);
    gap: 50px;
    margin-bottom: 81px;
    padding: 0 34px;
  }

  @media (min-width: $desktop-width) {
    grid-row-start: span 2;
    gap: 60px;
    margin: 0;
    padding: 0;
  }
}

.travelmates__user {
  &:not(:last-of-type) {
    margin-bottom: 9px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &:last-of-type {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    height: 100%;
  }
}

.travelmates__button {
  @media (min-width: $tablet-width) {
    display: block;
    width: 618px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    width: 280px;
    height: min-content;
    margin-top: auto;
    margin-left: 0;
  }
}
