.traveller {
  display: grid;
  grid-template-columns: min-content;
  grid-template-areas:
    "user-avatar user-name user-name"
    "user-avatar user-likes ."
    "user-tags user-tags user-tags"
    "user-countries user-countries user-countries"
    "user-transport user-transport user-level"
    "user-button user-button user-button";
  padding: 15px 0 23px;
  background: $basic-white;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    grid-template-areas:
      "user-avatar user-name user-name user-transport"
      "user-avatar user-tags user-tags user-transport"
      "user-avatar user-button user-likes user-level"
      "user-countries user-countries user-countries user-countries";
    padding-top: 35px;
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    grid-template-areas:
      "user-avatar user-name user-name user-countries user-countries"
      "user-avatar user-tags user-tags user-countries user-countries"
      "user-avatar user-button user-likes user-transport user-level";
    padding: 0;
    padding-right: 43px;
  }
}

.traveller__avatar {
  grid-area: user-avatar;
  margin-left: 18px;
  width: 70px;
  height: 70px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 190px;
    height: 190px;
    margin-left: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 258px;
    margin-right: 54px;
    margin-left: 0;
  }
}

.traveller__link {
  grid-area: user-name;
  text-decoration: none;
  color: $basic-blue-light;
}

.traveller__name {
  width: 100px;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.traveller__tags-wrapper {
  grid-area: user-tags;
  width: 176px;
  margin: 13px 0 26px 20px;
  font-size: 15px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.traveller__tag {
  font-weight: $font-normal;
  font-size: 15px;
  line-height: 18px;
  color: $special-grey;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
  }
}

.traveller__countries-wrapper {
  grid-area: user-countries;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 18px;
  margin-bottom: 23px;
  border-top: 1px solid $basic-light;
}

.traveller__subtitle {
  margin: 0;
  margin-top: -8px;
  margin-left: 15px;
  padding: 0 10px;
  font-weight: $font-normal;
  font-size: 15px;
  line-height: 16px;
  color: $special-grey;
  background-color: $basic-white;
  text-transform: lowercase;

  &--transport {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--level {
    margin-left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.traveller__country-list {
  @include reset-list;
  margin-left: 25px;
}

.traveller__country {
  font-weight: $font-medium;
  font-size: 15px;
  line-height: 16px;
  color: $basic-blue-light;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.traveller__transport-wrapper {
  grid-area: user-transport;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-top: 1px solid $basic-light;
}

.traveller__transport-list {
  @include reset-list;
}

.traveller__level-wrapper {
  grid-area: user-level;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid $basic-light;
}

.traveller__level-value {
  font-weight: $font-bold;
  font-size: 24px;
  line-height: 24px;
  color: $basic-blue-light;
}

.traveller__level-text {
  display: none;
  color: $basic-black;
  opacity: 0.4;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 14px;
    line-height: 14px;
  }
}

.traveller__likes-wrapper {
  grid-area: user-likes;
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-left: -20px;
}

.traveller__likes-button {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 50%;
}

.traveller__likes-amount {
  font-weight: $font-bold;
  font-size: 14px;
  line-height: 16px;
  color: $basic-blue;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.traveller__button {
  grid-area: user-button;
  width: 230px;
  margin: 13px auto 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
