.user {
  position: relative;
  color: $special-grey;
  background: $basic-white;
  border-radius: 10px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    border-radius: 20px;
  }

  &:hover .user__img {
    transform: scale(1.1);
  }
}

.user__top {
  overflow: hidden;
}

.user__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  padding: 0 25px 29px 25px;

  @media (min-width: $tablet-width) {
    row-gap: 17px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 29px;
  }
}

.user__img {
  display: block;
  width: 270px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 285px;
    height: 285px;
  }
}

.user__link {
  display: inline-block;
  text-decoration: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    align-self: flex-start;
    margin-left: 43px;
    margin-bottom: 6px;
  }
}

.user__name {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  color: $basic-blue-light;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #f97676;

    @media (min-width: $tablet-width) {
      width: 8px;
      height: 8px;
      left: -22px;
    }
  }

  &--online {
    &::before {
      background-color: #81e31e;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 22px;
  }
}

.user__countries {
  @include reset-list;
  position: relative;
  order: -1;
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  margin-top: -11px;
}

.user__country {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35px;
  height: 25px;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-size: 35px;
  }

  &--srilanka {
    background-image: url("../img/flag-srilanka-mobile@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/flag-srilanka-mobile@2x.png");
    }
  }

  &--thailand {
    background-image: url("../img/flag-thailand-mobile@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/flag-thailand-mobile@2x.png");
    }
  }

  &--seychelles {
    background-image: url("../img/flag-seychelles-mobile@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/flag-seychelles-mobile@2x.png");
    }
  }

  &--belgium {
    background-image: url("../img/flag-belgium-mobile@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/flag-belgium-mobile@2x.png");
    }
  }

  &--czech {
    background-image: url("../img/flag-czech-mobile@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/flag-czech-mobile@2x.png");
    }
  }

  &::before {
    display: none;
    content: attr(data-country);
    position: absolute;
    top: 33px;
    min-width: 100px;
    padding: 10px 12px;
    font-size: 16px;
    text-align: center;
    color: $basic-white;
    background-color: #101d41;
    border-radius: 4px;
  }

  &::after {
    display: none;
    content: "";
    position: absolute;
    bottom: -13px;
    width: 10px;
    height: 10px;
    background-color: #101d41;
    transform: rotate(45deg);
  }

  &:hover {
    &::before,
    &::after {
      display: block;
    }
  }
}

.user__transport {
  @include reset-list;
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

.user__preferences {
  text-align: center;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
  }
}

.user__hashtag {
  font-weight: $font-normal;
  line-height: 18px;
  color: $special-grey;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 23px;
  }
}

.user__level {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 17px;
  left: 17px;
  width: 60px;
  height: 60px;
  color: $basic-white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;

  &--88 {
    background-image: url("../img/level-80.svg");
  }

  &--99 {
    background-image: url("../img/level-99.svg");
  }

  @media (min-width: $tablet-width) {
    top: 20px;
    left: 22px;
  }
}

.user__level-value {
  position: relative;
  font-weight: $font-bold;
  font-size: 24px;
  line-height: 24px;
  margin-top: 7px;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 2px;
    width: 30px;
    height: 1px;
    background-color: $basic-white;
    opacity: 0.3;
    transform: translateX(-50%);
  }
}

.user__level-text {
  font-weight: $font-normal;
  font-size: 14px;
  line-height: 14px;
}
