.user-edit__avatar-add {
  font-weight: $font-medium;
  font-size: 20px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-blue;
  background: $special-blue-light;
  text-decoration: none;
}
