body {
  min-width: $mobile-width;
  font-weight: $font-light;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-name;
  color: $special-grey;
  background-color: $basic-light;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
